@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: rgb(51, 49, 52);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sideMenu {
 
  background-color: rgb(143, 18, 205);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  width: 100px;
  height: 100%;
  position: fixed;
}
.gridMenu {
  margin-top: 30px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: azure;
  text-align: center;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  font-size: x-small;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.margintop {
  margin-top: 40px;
}

.dronecard {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

  /* border: 2px solid black; */
  width: 1070px; /* Allow width to grow dynamically based on content */

  max-width: 100%; /* Set a maximum width */
  border-radius: 5px;
  height: 400px;
  margin-top: 20px;
  /* flex-wrap: wrap; */
  overflow-y: hidden;
}
.grid-container::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

.droneContainer {
  display: flex;
  justify-content: center;
}

.mapCard {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 400px;
  height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(3, 28, 48, 1); */
  border-radius: 8px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.card {
  display: grid;
  grid-template-columns: 100px 1fr 280px;
  gap: 10px; /* Adds gap between grid items */
}
.box {
  background-color: rgb(47, 110, 218);
  border-radius: 5px;
  margin: 1px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxData {
  display: flex;
  align-items: center;
  justify-content: center;
}
.droneBox {
  /* width: 580px; */
  /* display: flex;
  overflow-x: auto; */
  display: grid;
  grid-template-columns: repeat(20, 1fr); /* Creates 3 equal columns */
  gap: 1px; /* Adds gap between grid items */
  /* display: flex;
  flex-wrap: wrap; */
}
/* flex: '1', minWidth: '0', maxWidth: '100%'  */
.boxrap {
  flex: 1; /* Let flex items grow and shrink to fit the available space */
  max-width: 300px; /* Set maximum width for flex items */
  margin: 2px; /* Add some margin between flex items */
  box-sizing: border-box; /* Include padding and border in the width */
}

.rightMenu {
  background-color: green;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  width: 280px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
}

.boxWidth {
  width: 1100px;
}
.widthdata {
  display: flex;
  flex-wrap: wrap;
}

.nametext {
  font-size: x-small;
  color: white;
  text-align: center;
  font-weight: 600;
}

.boxmodel {
  background-color: black;
  height: 400px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: auto;
}

.errorLogs {
  margin-top: 40px;
  margin-bottom: 160px;
  margin-left: 20px;
  font-size: larger;
}

.textFont {
  font-weight: 700;
  color: white;
}

.listCardDetails {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.listTxt {
  font-weight: 700;
  margin-top: 20px;
}
.itemlist {
  margin: 20px;
  /*
  
  display: flex;
  justify-content: space-between; */

  display: grid;
  grid-template-columns: repeat(12, 1fr); /* Creates 3 equal columns */
  gap: 10px;
  text-align: center;
}

.listWidth {
  width: 50px;
}

.cardBox {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* Creates 4 equal width columns */
  gap: 1px; /* Adds gap between grid items */
  grid-template-rows: repeat(10, 1fr);
}
.boxContainer {
  /* width: 270px; */
  margin: 2px;
}

.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.table-row {
  display: table-row;
  text-align: center;
  color: white;
}

.table-cell {
  display: table-cell;
  padding: 6px;
  border-bottom: 1px solid #ddd;
}

.header {
  font-weight: bold;
  background-color: #1e18c5;
}

.active {
  background-color: cadetblue;
}

.ImgContaine {
  display: flex;
  justify-content: center;
}
.ListView {
  height: 400px;
  max-height: 700px; /* maximum height for the table */
  overflow-x: auto;
  overflow-y: auto; /* enable vertical scrolling */
}

@keyframes blink {
  50% {
    background-color: rgb(229, 235, 124);
  }
}
.status-code {
  animation: blink 1s infinite;
}

.goodSignal {
  border-bottom: 3px solid rgb(74, 246, 106);
}
.badSignal {
  border-bottom: 3px solid rgb(230, 84, 84);
}

/* .mapboxgl-marker {
  transform: none !important
}  */
